{% extends "base.html" %}

{% block content %}
  {% if user.is_authenticated %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 mb-2">
          <h2 style="color:white;">Cargar producto:</h2>
          <br>
          <form action="" method="POST" target="_self">{% csrf_token %}
            <p style="color: white">USUARIO: {{ user.get_username }}</p>
            {% for field in formularioVenta %}
               <div class="form">
                <div class="row">
                  <div class="col-md-auto mb-2">
                    <label for="{{ field.name }}" style="color: white;">
                      {{ field.label }}
                    </label>
                  </div>
                  <div class="col-md-6 mb-2">
                    {{ field }}
                  </div>
                </div>
              </div>
              {% endfor %}
              <button type="submit" class="btn btn-primary">
                Agregar al pedido
              </button>
          </form>
        </div>
        <div class="col-md-6 mb-2">
          <h2 style="color: white">Carrito &#x1f6d2;</h2>
          <br>
          <ul>
            {% for venta in lista_ventas.0 %}
              <p style="color: white">Producto: {{venta.0}}, Cantidad: {{venta.1}}, Precio: ${{venta.2}}</p>
            {% endfor %}
          </ul>
          <h3 class="text-center" style="color: white">Total a pagar: ${{lista_ventas.1}}</h3>
          <form action="" method="POST" target="_self">{% csrf_token %}
            <button type="submit">Finalizar Pedido</button>
          </form>
        </div>
      </div>
    </div>
  {% else %}
    <div class="container text-center">
      <a class="nav-link" href="{% url 'login'%}?next={{request.path}}">REGISTRARSE</a>
    </div>
    
  {% endif %}
{% endblock %}