{% extends "base.html" %}

{% block content %}
<div class="container text-center">
    <div class="jumbotron">
        {% if form.errors %}
        <p>Su usuario y contraseña no coinciden, por favor intentelo otra vez.</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
            <p>Su cuenta no tiene acceso a esta pagina. Para proceder, 
                entre con una cuenta que tenga permisos</p>
            {% else %}
            <p>Para ingresar a la tienda Registrese</p>
            {% endif %}
        {% endif %}

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}

            <div>
                <td>{{ form.username.label_tag }}</td>
                <td class="form-control">{{ form.username }}</td>
            </div>
            <div>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </div>
            <div>
                <input class="btn btn-primary" type="submit" value="Ingresar" />
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
        </form>

        {# Assumes you setup the password_reset view in your URLconf #}
        <p><a href="{% url 'password_reset' %}">¿No recuerda su contraseña?</a></p>
        <p><a href="{% url 'Register' %}">Cree su cuenta</a></p>
    </div>
    
</div>


{% endblock %}