{% extends "base.html" %}

{% block content %}
<div class="container">
  <h1 class="display-1 text-center" style= "color: white;">PRODUCTOS</h1>
</div>

<div class="container">
{% for producto in productos %}
  {% if forloop.first %}
    <div class="row">
  {% endif %}
        <div class="col-md-3 mb-2">
          <!-- Tarjeta Producto -->
          {% include "productos/tarjeta_producto.html" %}
        </div>
        {% if forloop.counter|divisibleby:4 %}</div><div class="row">{% endif %}
          {% if forloop.last %}</div>{% endif %}
{% endfor %}
</div>
{% endblock %}