{% extends "base.html" %}

{% block title %}Creacion de cuenta{% endblock %}

{% block content %}
<div class="container">
  <div class="jumbotron">
{% if user.is_authenticated %}
  <h1 class="text-center">Ya se encuentra registrado</h1>
  {% else %}
    <form action="" method="POST" target="_self">{% csrf_token %}
      {% for field in form %}
      <div class="form-group row">
        <div class="col-sm-2 col-form-label">
          {{ field.label }}
        </div>
        <div class="col-sm-auto">
          {{ field }}
        </div>
        <div class="col-sm-auto">
          {{ field.errors }}
          {{ field.help_text }}
        </div>
      </div>
      {% endfor %}
      <br>
      <button class="btn btn-primary" type="submit">Completar</button>
    </form>
  {% endif %}
  </div>
</div>

{% endblock %} 
